.nav-bar {
  display: -webkit-flex;
  background: url('https://github.com/laport14/portfolio/blob/main/src/Assets/background.png?raw=true');
  height: 20vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100vw;
}

.nav-contents {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.nav-logo {
  height: 180px;
  width: 180px;
}

h3 {
  color: #333843;
}