.nav-bar {
  display: -webkit-flex;
  height: 10vh;
  min-width: 100vw;
  background: #161618;
}

.nav-contents {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.header-link-home {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.header-link-about {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 24px; 
  animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.header-link-contact {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  animation: fadeInAnimation ease 7s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
  
}

.header-link-work {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  animation: fadeInAnimation ease 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
  
}


@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
}

.nav-logo {
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  font-size: 56px;
  color: #AAA998
}

h3 {
  color: #AAA998;
}

@media only screen and (max-width: 768px) {
  .nav-logo {
    display: none;
  }

  .nav-contents {
    justify-content: space-evenly;
  }

  .header-link-home {
    font-size: 20px;
  }

  .header-link-about {
    font-size: 20px;
  }

  .header-link-contact {
    font-size: 20px;
  }

  .header-link-work {
    font-size: 20px;
  }



}