.about-container {
  height: 90vh;
  min-width: 100vw;
  background: #000000;
  background: url('https://github.com/laport14/portfolio/blob/main/src/Assets/wallpaper.jpg?raw=true');
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.about-image {
  width: 30%;
  border: 50%;
}

.aboutme-div {
  width: 50%;
  text-align: left;
}

.about-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.about-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}