.project-container {
  height: 90vh;
  min-width: 100vw;
  background: #000000;
  background: url('https://github.com/laport14/portfolio/blob/main/src/Assets/wallpaper.jpg?raw=true');
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.project-image {
  height: 700px;
}

.project-title {
  color:  #A8A898;
  font-size: 30px;
}

.project-description {
  color:  #A8A898;
  font-size: 20px;
}

.tech-stack-fe {
  color:  #A8A898;
  font-size: 20px;
}

.tech-stack-be {
  color:  #A8A898;
  font-size: 20px;
}

.project-view-container {
  text-align: left;
}

.project-description-container {
  text-align: left;
  width: 40%
}

.project-link {
  text-decoration: none;
  color: #161618;
  border: 1px solid white;
  margin-right: 10px;
  padding: 10px 60px;
  background-color: white;
}

.project-img {
  height: 20px;
  width: 20px;
  padding-top: 10px;
}

.project-link:hover {
  background-color: #A8A898;
  border: 1px solid #A8A898;
}

@media only screen and (max-width: 1440px) {

  .project-image {
    height: 500px;
  }


}

@media only screen and (max-width: 1200px) {

  .project-image {
    height: 400px;
  }

}

@media only screen and (max-width: 1105px) {

  .project-container {
    flex-direction: column;
    min-height: 120vh;
  }

  .project-description-container {
    width: 60%;
  }
  
  .project-image {
    height: 500px;
  }

}

@media only screen and (max-width: 768px) {

  .project-container {
    flex-direction: column;
    min-height: 120vh;
  }

  .project-image {
    height: 400px;
  }

  .project-description-container {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {

  .project-container {
    flex-direction: column;
    height: 100%;
  }

  .project-title {
    font-size: 24px;
  }

  .project-image {
    height: 400px;
  }

  .project-description-container {
    width: 75%;
  }

  .project-link {
    display: flex;
    align-items: flex-end;
    width: 125px;
    height: 26px;
    justify-content: center;
    margin: 10px;
  }

  h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 500px) {

  .project-container {
    flex-direction: column;
    height: 100%;
  }

  .project-title {
    font-size: 24px;
  }

  .project-image {
    height: 350px;
  }

  .project-description-container {
    width: 75%;
  }

  .project-link {
    display: flex;
    align-items: flex-end;
    width: 125px;
    height: 26px;
    justify-content: center;
    margin: 10px;
  }

  h2 {
    font-size: 24px;
  }
}